/* general-entry-elements.css */


#key-container {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: var(--text-idle);
    letter-spacing: 4px;
    padding: 5px;
    cursor: default;
}




#image-container {
    width: 240px;
    height: 240px;
    border-radius: 5px;
    transition: background-color 0.15s, filter 0.15s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
#image-container div.has-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-container div {
    border: 1px solid var(--color-idle);
}
#image-container div:hover {
    border: 1px solid var(--color-hover);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
#image-container div:active {
    background: rgba(0, 0, 0, 0.03);
}



#name-container {
    border: none;
    background: none;
    position: relative;
    width: 400px;
    display: flex;
    transition: box-shadow 0.1s;
    margin-bottom: 6px;
    margin-top: 3px;
    height: 40px;
}
#name-container input {
    cursor: default;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    color: var(--color-idle);
    font-family: serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: left;
    padding: 5px;
    text-transform: uppercase;
    transition: background 0.2s;
    border-bottom: 1px solid var(--color-idle);
}
#name-container:hover input, #name-container:focus-within input {
    color: var(--color-hover);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    border-bottom: 1px solid var(--color-hover);
}
#name-container:focus-within input {
    background: rgba(0, 0, 0, 0.03);
}



#save-container {
    display: none;
}
#save-container button {
    background: none;
    margin-top: 3px;
    height: 40px;
    padding: 5px 10px;
    color: var(--text-idle);
    cursor: default;
    border: 1px solid var(--color-idle);
    transition: box-shadow 0.1s;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: serif;
}
#save-container button:hover {
    color: var(--color-hover);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    border: 1px solid var(--color-hover);
}
#save-container button:active {
    background: rgba(0, 0, 0, 0.03);
}



#delete-container {
    display: none;
}
#delete-container button {
    background: none;
    margin-top: 3px;
    height: 40px;
    padding: 5px 10px;
    color: var(--text-idle);
    cursor: default;
    border: 1px solid var(--color-idle);
    transition: box-shadow 0.1s;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: serif;
}
#delete-container button:hover {
    color: var(--color-hover);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    border: 1px solid var(--color-hover);
}
#delete-container button:active {
    background: rgba(0, 0, 0, 0.03);
}



#description-container {
    position: relative;
    width: 700px;
    transition: box-shadow 0.1s;
}

#description-container textarea {
    cursor: default;
    margin-top: 5px;
    border: none;
    background: none;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 100px;
    color: var(--text-idle);
    font-family: serif;
    font-size: 16px;
    line-height: 1.5;
    height: 185px;
    padding: 10px 5px;
    padding-right: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-idle);

}
#description-container:hover textarea, #description-container:focus-within textarea {
    color: var(--color-hover);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    border-bottom: 1px solid var(--color-hover);
}
#description-container:focus-within textarea {
    background: rgba(0, 0, 0, 0.03);
}



#tags-list-container {
    margin-top: 40px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}
.tag-container {
    position: relative;
    background: none;
    padding: 5px 10px;
    text-align: center;
    color: var(--text-idle);
    cursor: default;
    border: 1px solid var(--color-idle);
    transition: box-shadow 0.1s;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: serif;
}
.tag-container:hover {
    color: var(--color-hover);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    border: 1px solid var(--color-hover);
}
.tag-container:active {
    background: rgba(0, 0, 0, 0.03);
}

.add-tag-container {
    position: relative;
    background: none;
    padding: 5px 7px;
    padding-left: 10px;
    text-align: center;
    font-weight: bold;
    color: var(--text-idle);
    cursor: default;
    border: 1px solid var(--color-idle);
    transition: box-shadow 0.1s;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: serif;
}
.add-tag-container:hover {
    color: var(--color-hover);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    border: 1px solid var(--color-hover);
}
.add-tag-container:active {
    background: rgba(0, 0, 0, 0.03);
}






