/* main.css */
:root {

    /* PALETTE */
    --color-idle: #605952;
    --color-hover: #221602;
    --text-idle: #605952;
    --text-hover: #605952;

    /* SHARP CONTAINER */
    --sc-main-border-thickness: 1px;
    --sc-hover-border-thickness: 1px;
    --sc-hover-border-offset: -2px;

    /* TEXT */
    --text-font-title: serif;
    --text-font-body: serif;
    --text-size-title: 16px;
    --text-size-body: 12px;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccbeae;
    background-image: url('../images/papyrus.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 10000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(5px);
    height: 40px;
}

main {

}

.horizontal-divider {
    align-self: stretch;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, transparent, var(--color-idle), transparent);
}

.vertical-divider {
    align-self: stretch;
    width: 1px;
    margin-left: 30px;
    margin-right: 30px;
    background: linear-gradient(to bottom, transparent, var(--color-idle), transparent);
}

button {
    cursor: default;
}