/* search-bar.css */
#search-container {
    position: relative;
    width: 900px;
    display: flex;
    flex-direction: column;
}

#search-bar {
    display: flex;
    align-items: center;
    padding: 5px 0;
    position: relative;
}

#search-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--color-idle), transparent);
    transition: height 0.1s ease;
}

#search-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-hover);
    font-family: serif;
    font-size: var(--text-size-body);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    cursor: text;
}

#search-input::placeholder {
    color: var(--text-idle);
    opacity: 0.5;
    text-transform: uppercase;
}
#search-box:focus-within #search-input, #search-box:hover #search-input {
    color: var(--color-hover);
}
#search-box:focus-within #search-bar::after, #search-box:hover #search-bar::after {
    height: 2px;
    background: linear-gradient(to right, transparent, var(--color-hover), transparent);
}

#search-button {
    background: transparent;
    border: none;
    color: var(--text-idle);
    font-size: var(--text-size-title);
    transition: color 0.2s;
    cursor: default;
}

#search-button:hover {
    color: var(--text-hover);
}

#search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgb(236, 215, 184);
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#search-suggestions ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
}

.search-suggestion-button, .new-entry-button {
    padding: 12px 20px;
    color: var(--text-idle);
    transition: all 0.2s;
    font-size: var(--text-size-body);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.search-suggestion-button:hover, .new-entry-button:hover {
    background: rgba(0, 0, 0, 0.03);
    color: var(--color-hover);
}

.new-entry-button {
    font-weight: bold;
}